.table-body {
  align-items: center;
  display: flex;
  height: 78vh;
  justify-content: center;
  width: 100vw;
}

.planets-table {
  color: white;
  height: 100%;
  overflow: scroll;
  width: 98vw;
}

.planets-table thead th {
  background: black;
  font-size: 18px;
  padding: 5px;
  text-transform: uppercase;
}

.planets-table tbody td {
  padding: 0 10px;
  text-align: center;
}

.planets-table tbody tr {
  background: rgba(2, 2, 2, 0.5);
}

.planets-table tbody tr:nth-child( 2n ) {
  background: rgba(1, 0, 24, 0.2);
}
