.headThead {
  background-color: rgb(3, 93, 105); 
}

.headThead th { 
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
}

.bodyTbody tr:nth-child( odd ) {
  background-color: rgb(223, 218, 218);
}

.bodyTbody td {
  padding: 10px;
}
