table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #31393e;
  color: white;
  padding: 10px 0;
}

td {
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  text-align: center;
}
