.back{
  background-image: url('https://lh3.googleusercontent.com/proxy/ZjW_A26ibA8MFqvz9byYDD5Gk2XgEJVlch9roR_UPMbl4FYdiEyuSn7yd8FvCjtHD6g53quML6DLQ-RoQ0rxOf7pGwCfvMbk3wEfHJndT3XCWHC5bkcgrA');
  background-repeat: no-repeat;
  background-size: cover;
}

.nameInput {
  width: 300px;
}

.nameInputContainer {
  /* border: 3px solid black; */
  margin-top: 15px;
}

.numberInputContainer {
  /* border: 3px solid black; */
  margin-bottom: 15px;
  margin-top: 15px;
}

.table{
  border: 3px solid black;
  font-weight: bold;
  width: 100vw;
  
}
