@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
:root {
  --primary-color: #FBBF6B;
  --secundary-color:#F6A400;
  --tertiary-color: #63A09E;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--tertiary-color);
  font-family: 'Ranchers', cursive;
}

header {
  text-align: center;
  height: 70px;
  background-color: var(--primary-color);
}

.title {
  padding-top: 0.8rem;
}

.table-container {
  text-align: center;
}
table {
  margin: 20px auto 0px;
  background-color: var(--primary-color);
  width: 90vw;
  border-radius: 1rem;
}

.container-planet {
  border: 2px solid black;
}
th {
  padding: 3rem 1rem;
}
td {
  padding: 0.7rem 1rem;
  text-align: center;
}



